root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4

[Makefile]
end_of_line = lf
indent_style = tab

[*.mk]
end_of_line = lf
indent_style = tab

[Dockerfile]
end_of_line = lf

[*.py]
insert_final_newline = true

[*.yml]
indent_size = 2
tab_width = 2
